html, body {
    height: 100%;
    width: 100%;
}

#survey-container {
    margin-top: 60px;
    box-shadow: 10px 10px 150px grey;
}

.chart-container {
    margin: 10vh auto 0;
    height: 20%;
    width: 20%;
    height: 60vh;
}

h1 {
    font-family: 'Lucida Calligraphy';
    font-weight: 800;
    color: white;
    font-size: 1.2em;
    margin: 0;
    margin-top: 0;
    margin-bottom: 0;
}

h3 {
    font-family: 'Lucida Calligraphy';
    text-align: center;
    margin-top: 2em;
}

h4 {
    font-family: 'Lucida Calligraphy';
    font-style: italic;
    font-weight: 300;
    color: rgb(45, 57, 55);
}

h5 {
    font-weight: 600;
    font-style: italic;
    margin-bottom: 1.5em;
}

.presentation {
    width: 70%;
    margin: 7.5em auto;
    text-align: center;
}

.logo {
    max-height: 60vh;
    max-width: 60vw;
    height: auto;
    width: auto;
    margin-bottom: 1em;
}

.genre-button {
    width: 10em;
    height: 3em;
    margin: 0.3em;
}

/*#sq_page > div > div {*/
.panel-body > div > div {
    background-color: aliceblue;
    margin-bottom: 1.3em;
    padding: 0 2em 1.3em;
    border-bottom: 3px #2c3e50;
    border-bottom-style: solid;
}
