html, body {
    height: 100%;
    width: 100%;
}

h1 {
    font-family: 'lucida calligraphy';
    font-weight: 800;
    color: white;
    font-size: 1.2em;
    margin: 0;
    margin-top: 0;
    margin-bottom: 0;
}

h3 {
    font-family: 'lucida calligraphy';
    text-align: center;
    margin-top: 2em;
}

h4 {
    text-align: center;
    margin: 1em;
    font-family: 'lucida calligraphy';
    font-style: italic;
    font-weight: 300;
    color: rgb(45, 57, 55);
}

h5 {
    font-weight: 600;
    font-style: italic;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.navbar {
    min-height: 40px;
}

.navbar-brand{
    padding: 10px 15px;
    height: 40px;
}

.navbar-header > span > img {
    height: 40px;
    width: auto;
}

.presentation {
    width: 90%;
    margin: 80px auto 0;
    text-align: center;
}

.logo {
    max-height: 50vh;
    max-width: 50vw;
    height: auto;
    width: auto;
    margin-bottom: 1em;
}

.genre-button {
    width: 10em;
    height: 3em;
    margin: 0.1em;
}

.panel-footer {
    background: transparent;
}

#report-container {
    margin: 5em auto;
    padding: .5em 2em;
    max-width: 70vw;
    max-height: 70vh;
    width: auto;
    height: auto;
    text-align: center;
    background: #f8f8f8;
    border-bottom: solid 3px #2c3e50;
    border-radius: 3px;
}

#main-container {
    animation: slidein .6s forwards;
    height: 100%;
}

#logo-container {
    margin: 1em auto 0;
    padding: 1em;
    background: #efefef;
    border-top: solid 3px #f8f8f8;
    box-shadow: #aaa 3px 3px 15px;
    text-align: center;
}

#logo-container > a > img {
    margin: .5em;
    padding: .5em;
    height: 100px;
    width: auto;
    background: #f2f2f2;;
    box-shadow: grey 4px 4px 20px;
}

#footer {
    width: 100%;
    height: 70px;
    padding: 1em;
    background: #333;
    border-top: solid 3px #666;
    color: #aaa;
    text-align: center;
    font-size: .8em;
}

#survey-container {
    margin-top: 60px;
    height: 100%;
}

#survey-container > div > div > div > div:not(.progress-bar) {
    background-color: #f8f8f8;
    margin-bottom: 1.3em;
    padding: 0 2em 1.3em;
    border-bottom: solid 3px #2c3e50;
    border-radius: 3px;

    animation: fadein .6s forwards;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes slidein {
    0% { transform: translateX(20px); }
    33% { transform: translateX(-10px); }
    66% { transform: translateX(5px); }
    100% { transform: translateX(0); }
}

@keyframes scalein {
    from { transform: scaleX(1.4); transform: scaleY(1.2); }
    to { transform: scaleX(1); transform: scaleY(1); }
}