.come-in {
  transform: translateX(1000px);
  animation: come-in 0.8s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 0.6s;
}
.already-visible {
  transform: translateX(0);
  animation: none;
}
@keyframes come-in {
  to { transform: translateX(0); }
}